@import "utilities/variables";

.page {
    background-color: $primary-white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    &-container {
        padding: 40px 0;
        height: 100%;
    }
}

.btn {
    &-outline-secondary {
        border-color: $secondary-black !important;
        color: $secondary-black !important;

        &:hover {
            background-color: $secondary-black !important;
            color: $primary-white !important;
        }
    }

    &-secondary {
        border-color: $secondary-black !important;
        background-color: $secondary-black !important;

        &:hover {
            background-color: $primary-white !important;
            color: $secondary-black !important;
        }
    }

    &-selected {
        pointer-events: none;
    }
}

.btn-sm-22 {
    width: 22px;
    height: 22px;
    padding: 0px !important;
    font-size: small !important;
    font-weight: bold !important;
}

button.add-to-cart {
    background-color: $secondary-black;
    border-radius: 5px;
    border: 0px;
    color: $primary-white;
    width: 100%;
    height: 45px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 $primary-yellow;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

    &:hover {
        color: $secondary-black;
        box-shadow: inset 400px 0 0 0 $primary-yellow;
    }
}

.form-control {
    &:focus {
        box-shadow: 0 0 0 0.2rem $primary-yellow !important;
    }
}