@import "utilities/variables";

.carousel {
    &__wrapper {
        display: flex;
        gap: 30px;
        width: 100%;
    }

    &__slide {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 20px;

        .book {
            &__full-name {
                font-size: 38px;
            }

            &__author {
                font-size: 24px;
            }
        }
    }

    &__image {
        height: 600px;
    }

    &-indicators {
        bottom: 25px !important;
    }

    &-indicator {
        background-color: $primary-gray !important;
    }
}